@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.headline {
  font-family: "DMSans Bold", sans-serif;
  font-weight: bold;
  letter-spacing: rem(2);

  &.h1 {
    font-size: rem(48);
    line-height: 1.2;
    letter-spacing: rem(3);
  }
  &.h2 {
    font-size: rem(32);
    line-height: 1.25;
    // 40 desktop
  }
  &.h3 {
    font-size: rem(24);
    line-height: 1.04;
  }
  &.h4 {
    font-size: rem(24);
    line-height: 1.04;
  }
  &.h5 {
    font-size: rem(18);
    line-height: 1.39;
  }

  &__dark {
    color: var(--primary-color);
  }

  &__light {
    color: var(--white-color);
  }
}
