@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.info-image-detailed {
  $self: &;
  padding: rem(48) rem(29);

  &__img-container {
    background: orange;

    img {
      @include imageBackground;
    }

    #{$self} {
      &__tablet {
        display: none;
        @include breakpoint("phablet") {
          display: block;
        }
        @include breakpoint("laptop") {
          display: none;
        }
      }

      &__desktop {
        display: none;
        @include breakpoint("laptop") {
          display: block;
        }
      }
    }
  }

  &__dark {
    background: var(--white-color);
  }

  &__light {
    background: var(--primary-color);
  }

  @include breakpoint("phablet") {
    padding: rem(120) rem(40);
    width: rem(380);
    background: none;
  }

  @include breakpoint("laptop") {
    padding-left: rem(110);
  }

  .headline {
    margin-bottom: rem(16);
  }

  .copy {
    margin-bottom: rem(24);
  }

  &__author {
    display: flex;

    & > *:first-child {
      margin-right: rem(10);
    }
  }
}
