@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.boxes {
  display: flex;
  flex-direction: column;

  @include breakpoint("laptop") {
    flex-direction: row;
  }
}
