@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.colorful-rectangle {
  width: rem(130);
  height: rem(6);
  background-image: linear-gradient(to top, #ffc593, #bc7198, #5a77ff);

  @include breakpoint("phablet") {
    width: rem(6);
    height: 100%;
  }
}
