@import "../../styles/mixins/mixins";
@import "../../styles/functions/pixel-to-rem";

.feature-plans {
  $self: &;
  margin: 0 rem(30);

  & > .headline {
    margin-bottom: rem(23);
    padding-bottom: rem(23);
    border-bottom: rem(1) solid var(--primary-color);
  }

  &__features {
    & > * {
      margin-bottom: rem(23);

      .headline {
        margin-bottom: rem(16);
      }
    }
    #{$self} {
      &__plans {
        padding-bottom: rem(24);
        display: flex;
        border-bottom: rem(1) solid var(--light-gray-color);
        & > * {
          margin-right: rem(70);
          .copy {
            margin-bottom: rem(8);
          }
        }
      }
    }
  }
}
