@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.box {
  padding: rem(50) rem(30) 0;
  @include flexCenter;
  flex-direction: column;
  text-align: center;

  @include breakpoint("laptop") {
    margin-bottom: rem(40);
  }

  &__icon {
    margin-bottom: rem(35);
    svg {
      font-size: rem(80);
    }
  }

  .headline {
    margin-bottom: rem(16);
  }

  .copy {
    margin-bottom: rem(20);
    @include breakpoint("phablet") {
      width: 100%;
      max-width: rem(450);
    }
  }
}
