@font-face {
  font-family: "DMSans";
  src: url(../../fonts/DMSans/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans Bold";
  src: url(../../fonts/DMSans/DMSans-Bold.ttf) format("truetype");
}
