@import "../../styles/mixins/mixins";
@import "../../styles/functions/pixel-to-rem";

.header {
  $self: &;
  position: relative;

  &__front {
    padding: rem(28) rem(24);
    @include flexCenter;
    justify-content: space-between;
    height: rem(70);

    #{$self} {
      &__headline {
        @include verticalFlexCenter;
        text-shadow: 1px 0 var(--primary-color);
        font-weight: bold;
      }
    }
  }

  &__menu-wrap {
    position: relative;

    @include breakpoint("phablet") {
      display: none;
    }

    #{$self} {
      &__hamburger-menu {
        position: relative;
        width: rem(25);
        height: rem(25);
        cursor: pointer;

        & > * {
          position: absolute;
          width: 100%;
          height: rem(2);
          background: var(--primary-color);
          transition: 0.5s;
        }

        &.active {
          & *:nth-child(1) {
            transform: rotate(45deg);
          }

          & *:nth-child(2) {
            transform: rotate(-45deg);
          }

          & *:nth-child(1),
          & *:nth-child(2) {
            top: 50%;
            left: 0;
          }

          & *:nth-child(3) {
            transform: translateX(-50%);
            opacity: 0;
          }

          & *:nth-child(4) {
            transform: translateX(50%);
            opacity: 0;
          }
        }

        & *:nth-child(1) {
          top: 20%;
        }

        & *:nth-child(2) {
          top: 50%;
        }

        & *:nth-child(3),
        & *:nth-child(4) {
          top: 80%;
          width: 50%;
        }

        & *:nth-child(4) {
          right: 0;
        }
      }
    }
  }

  &__links-mobile {
    display: none;
    position: absolute;
    top: rem(70);
    padding: rem(30) rem(33) 0;
    width: 100%;
    transform: translateX(100%);
    background: var(--white-color);
    text-align: center;
    transition: 0.6s;
    z-index: 1;

    ul {
      li {
        margin-bottom: rem(20);
      }
    }

    &.active {
      transform: translateX(0);
    }

    #{$self} {
      &__invitation {
        button {
          margin: rem(20) 0 rem(30);
          max-width: 100%;
        }
      }
    }
  }

  &__links-mobile,
  &__links {
    ul {
      li {
        a {
          font-size: rem(15);
          font-weight: bold;
          text-transform: uppercase;
          color: var(--primary-color);
        }
      }
    }

    #{$self} {
      &__invitation {
        a {
          background: var(--primary-color);
          color: var(--white-color);
          text-transform: uppercase;
          font-weight: bold;
          letter-spacing: rem(2);
        }
      }
    }
  }

  &__links {
    @include verticalFlexCenter;
    display: none;

    @include breakpoint("phablet") {
      display: flex;
    }

    nav {
      ul {
        display: flex;

        li {
          margin-right: rem(35);

          a {
            font-size: rem(12);
            letter-spacing: rem(2);
          }
        }
      }
    }

    #{$self} {
      &__invitation {
        a {
          padding: rem(12) rem(24);
          font-size: rem(12);
        }
      }
    }
  }
}
