@import "../../styles/mixins/mixins";
@import "../../styles/functions/pixel-to-rem";

.footer {
  $self: &;
  padding: rem(56) rem(60);
  background: var(--primary-color);
  color: var(--white-color);
  text-align: center;

  @include breakpoint("phablet") {
    padding: rem(65) rem(40);
  }

  @include breakpoint("laptop") {
    padding: rem(65) rem(165);
  }

  &__headline {
    @include flexCenter;
    margin-bottom: rem(30);
  }

  &__socials {
    @include horizontalFlexCenter;
    margin-bottom: rem(50);

    @include breakpoint("phablet") {
      margin-bottom: 0;
    }

    #{$self} {
      &__social {
        margin-right: rem(15);
        svg {
          fill: var(--white-color);
          font-size: rem(25);
          transition: 0.4s;

          &:hover {
            fill: #9c9b9b;
          }
        }
      }
    }
  }

  &__links {
    margin-bottom: rem(120);

    @include breakpoint("phablet") {
      margin-bottom: 0;
    }

    li {
      margin-bottom: rem(20);
      text-transform: uppercase;
      transition: 0.4s;

      a {
        font-size: rem(12);
        font-weight: bold;
        letter-spacing: rem(1);
        color: var(--white-color);

        &:hover {
          color: var(--light-gray-color);
        }
      }
    }
  }

  &__invitation {
    @include horizontalFlexCenter;
    margin-bottom: rem(35);

    svg {
      margin-left: rem(15);
    }
  }

  &__copyright {
    margin-bottom: rem(55);
    opacity: 0.5;
    font-size: rem(15);

    @include breakpoint("phablet") {
      margin-bottom: 0;
    }
  }

  &__mobile {
    @include breakpoint("phablet") {
      display: none;
    }
  }

  &__desktop {
    display: none;
    @include breakpoint("phablet") {
      display: flex;
      justify-content: space-between;
    }

    #{$self} {
      &__left-side {
        display: flex;

        #{$self} {
          &__headline-socials {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > * {
              justify-content: flex-start;
            }
          }

          &__links-tablet {
            @include breakpoint("laptop") {
              display: none;
            }
            #{$self} {
              &__links {
                display: flex;
                margin-bottom: rem(70);

                & > * {
                  margin-right: rem(25);
                }
              }
            }
          }

          &__links-desktop {
            display: none;
            margin-left: rem(110);

            @include breakpoint("laptop") {
              display: block;
            }

            ul {
              & > *:last-child {
                margin: 0;
              }
            }
          }
        }
      }
    }

    #{$self} {
      &__right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}
