@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.copy {
  line-height: rem(25);
  &__dark {
    color: var(--primary-color);
  }

  &__light {
    color: var(--white-color);
  }

  &__opacity-true {
    opacity: 0.6;
  }

  &__size-sm {
    font-size: rem(12);
  }

  &__size-lg {
    font-size: rem(15);
  }

  &__size-xl {
    font-size: rem(18);
  }
}
