@import "../../../styles/mixins/mixins";
@import "../../../styles/functions/pixel-to-rem";

.card {
  position: relative;
  padding: rem(230) rem(30) rem(40);
  background: rgba(0, 0, 0, 0.6);
  .headline {
    margin-bottom: rem(10);
  }

  .copy {
    margin-bottom: rem(16);
  }

  .line {
    margin-bottom: rem(20);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}
